body{
    background-color: cadetblue;
}

h1{
    text-align: center;
    color: darkslategray;
    font-family: 'Gill Sans';
}

p {
    font-family: Verdana;
    color: black;
}

small {
    font-family:'Lucida Sans';
    color: black;
}