body{
    background-color: #5f9ea0;
}

h1{
    text-align: center;
    color: #2f4f4f;
    font-family: 'Gill Sans';
    font-size: 40px;
}

h2{
    text-align: center;
    color: #483d8b;
    font-family: 'Gill Sans';
}

p {
    font-family: 'Verdana';
    text-align: center;
    color: #000000;
}

small {
    font-family:'Verdana';
    color: #000000;
}
